<p id="board" style="width:{{width}}em;height:{{height}}em;"
		ng-keypress="onKeypress($event)">

	<span class="dalek" ng-repeat="dalek in game.daleks" style="left:{{dalek[0]}}em;top:{{dalek[1]}}em;">
		&#9823;
	</span>

	<span class="trash" ng-repeat="trash in game.trash" style="left:{{trash[0]}}em;top:{{trash[1]}}em;">
		&#13127;
	</span>

	<span class="player" style="left:{{game.player[0]}}em;top:{{game.player[1]}}em;" ng-class="{dead: game.dead, won: game.won}">
	</span>
</p>

<audio id="screwdriver-sound" src="Basketball Buzzer-SoundBible.com-1863250611.mp3" preload="auto"></audio>
<audio id="transporter-sound" src="Water Drop Sound High-SoundBible.com-1387792987.mp3" preload="auto"></audio>
<audio id="crash-sound" src="Splat-SoundBible.com-1826190667.mp3" preload="auto"></audio>
<audio id="exterminate-sound" src="exterminate.mp3" preload="auto"></audio>
<audio id="tardis-sound" src="tardis.mp3" preload="auto"></audio>
